@CHARSET "ISO-8859-1";

@font-face {
	font-family: "Avenir";
	src: url("../font/avenir.eot") format("truetype");
}

@font-face {
	font-family: "Avenir";
	src: url("../font/avenir.ttf") format("truetype");
}

#tablaContactos{
	width: 100%;
}

#tabla{
	width: 100%;
	margin-left: 5%;
}

#tabla .A, #tabla .B{
	display: table-cell;
	font-family: Avenir;
	font-size: 18px;
	color:#ffffff;
}
.body {
	font-size: 12px;
	font-family: "Avenir", Helvetica;
	width: 100%;
	overflow: hidden;
}
.image_gallery{
	width: 94%;
	margin: 0 auto;
}
#descImagenGaleria{
	font-family: Avenir;
	font-style: italic;
	font-size: 14px;
	margin-top: 2%;
	margin-left: 1%;
	width: 95%;
	
}
div#ContenedorGeneral {
	width: 490px;
	position: relative;
	/*opacity: 0.9; Opacidad de 50%*/
	background-color: #FFFFFF; 
	margin-bottom: 5px;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
}

div#mapa {
	background-color: #ffffff;
	margin: 0 auto;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	margin-bottom: 5px;
}

#photo {
	width: 45px; 
	/* border: 3px solid rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgb(136, 136, 136); */
	overflow: hidden;
}

#photoDef {
	/* width:60%;  */
	/* margin: 16px 10px 0px 15px; */
	/* margin: 16px 10px 0px 15px; */
	margin: 16px 10px 0px 15px;
	border: 3px solid rgb(255, 255, 255);
	overflow: hidden;
}

div#container {
	margin: 0 auto;
	width: 490px;
	position: relative; /* 
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px; */
}

#contenedor-Contacto {
	width: 490px;
	overflow: hidden;
	text-align: center;
	padding-bottom: 3%;
}

#contenedor {
	width: 490px;
	height: auto;
	margin: 0 auto;
	position: relative;
	background-color: #FFFFFF;
	margin-bottom: 5px;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
}

div#descCorta {
	width: 90%;
	 padding: 1% 0; 
	margin:0 auto;
}

#title-domain {
	word-break: break-word;
	font-size: 25px;
	font-family: "Avenir", Helvetica;
	color: #111111 !important;
}

#shortDesc {
	font-size: 16px;
	font-family: Avenir, Helvetica;
	color: #000000;
	letter-spacing: 0.02em;
	font-weight: normal;
}

#contenedorMapa {
	width: 490px;
	margin: 0 auto;
	position: relative;
	background-color: #ffffff;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
}

#iMapa {
	width: 450px;
	height: 450px;
	margin: 10px 10px 10px 18px;
	border-width: 1px;
	border-style: solid;
}

#iVideo {
	width: 95%;
	height: 400px;
	margin-bottom: 2px;
	margin-left: 10px;
	border-width: 1px;
	border-style: solid;
}

#map_canvas {
	height: 400px;
	width: 400px;
	margin: 0 auto;
}

div#article {
	margin-bottom: -27%;
	margin-top: -27%;
	margin-left: -10%;
	margin-right: -40px;
}

div.info {
	word-wrap: break-word;
	font-family: Avenir;
	font-size: 18px;
	letter-spacing: 0.02em;
	color:#ffffff;
}

#contenedor-compartir {
	width: 300px;
	margin-left: 80px;
	margin-bottom: 20px;
	text-align: center;
}

.media {
	width: 450px;
	height: 400px;
}

table#compartir {
	margin-left: 1px;
}

#contenedor-compartir div {
	width: 100px;
}

#contenedor-Offer {
	width: 450px;
	margin-left: 18px;
}

#boton-contenedor {
	/* margin-left: 10%; */
	float: right;
	margin-right: 15%;
}

#contenedor-share {
	width: 490px;
	position: relative;
	background-color: transparent;
	margin-bottom: 20px;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
}

#contenedor-video {
	width: 450px;
	margin-left: 18px;
	position: relative;
	background-color: #e6e6e6;
	margin-bottom: 20px;
}

#contenedor-data {
	width: 80%; 
	margin: 1% auto; 
}

#subcontenedor-data {
	width: 200px;
}

#contenedor-data-c {
	width: 347px;
	margin-left: 65px;
}

#contenedor-data-boton {
	margin-left: 275px;
}

#contenedor-contacto-boton {
	margin-left: 275px;
	font-size: 15px;
	color: white;
	font-family: Avenir;
	text-align: center;
	line-height: 30px;
}

#datoContacto {
	width: 260px;
}

#text_icono {
	font-size: 16px;
	font-family: "Avenir", Helvetica;
	text-align: center;
	color: rgb(1, 1, 1) !important;
	
}

.text_desc {
	font-size: 16px;
	font-family: "Avenir", Helvetica;
	color: rgb(60, 74, 151) !important;
	margin-bottom: 2px;
	word-wrap: break-word;
	width: 95%;
	margin: 0 auto;
	letter-spacing: .02em;
	/* float:left; */
}

.title_galery {
	background: #3D393A;
	width: 455px;
	margin: 0 auto;
}

.imagen-galery {
	width: 99%;
	border: solid 3px #3D393A; 
}

.align_title_galery {
	font-size: 14px;
	font-family: "Avenir", Helvetica;
	color: rgb(255, 255, 255) !important;
	margin-left: 15px;
}

.align_title_video {
	font-size: 100%;
	font-family: "Avenir", Helvetica;
	color: rgb(0, 0, 0) !important;
	margin-left: 15px;
	text-align: left;
}

.align_desc_video {
	font-size: 100%;
	font-family: "Avenir", Helvetica;
	color: rgb(0, 0, 0) !important;
	margin-left: 15px;
	text-align: left;
	margin-bottom: 10px;
}

div#footer {
	font-size: 15px;
	font-family: "Avenir", Helvetica;
	background: #000000;
	color: rgb(255, 255, 255) !important;
	/* width: 490px; */
	height: auto;
	text-align: center;
	margin: 0 auto;
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	margin-bottom: 3px;
	border: solid gray;
}

.text_desc_terminos {
	font-size: 14px;
	font-family: "Avenir", Helvetica;
	color: rgb(60, 74, 151) !important;
	word-wrap: break-word;
	letter-spacing: .02em;
}

div#text_icono_contenedor {
	font-size: 16px;
	font-family: "Avenir", Helvetica;
	color: rgb(128, 128, 128) !important;
	letter-spacing: 0.02em; 
	width: 250px;
	/* font-weight: bold; */
}

#tilte-contact {
	font-size: 16px;
	font-family: "Avenir", Helvetica;
	color: #111111;
	letter-spacing: 0.02em;
}

#desc-contact {
	font-size: 13px; /* 
	font-weight: none; */
	font-family: "Avenir", Helvetica;
	color: rgb(1, 1, 1) !important;
	word-wrap: break-word;
	text-align: left;
	margin-left: 31px;
}

a#disponibilidad-contact {
	margin-left: 85px;
	font-family: "Avenir", Helvetica;
	font-size: 14px;
}

div#text_cont {
	width: 300px;
}

#align_desc_cont {
	float: left;
	margin-right: 6px;
	font-family: "Avenir", Helvetica;
}

.align_desc_cont_sub {
	font-size: 15px;
	font-family: "Avenir", Helvetica;
	color: rgb(60, 74, 151) !important;
	word-wrap: break-word;
	text-align: justify;
	letter-spacing: .02em;
}

.align_desc_cont_sub2 {
	font-size: 15px;
	font-family: "Avenir", Helvetica;
	color: rgb(60, 74, 151) !important;
	word-wrap: break-word;
	text-align: justify;
	letter-spacing: .02em;
	margin-left: 31px;
}

#text_icono_Offer {
	font-size: 17px;
	font-family: "Avenir", Helvetica;
	color: rgb(1, 1, 1) !important;
	/* width: 300px;
	float: center; 
 	margin-left: 20px;  */
	word-wrap: break-word;
	width: 95%;
	margin: 0 auto;
}

div#iconos {
	font-size: 12px;
	font-family: "Avenir", Helvetica;
	text-align: center;
	color: rgb(111, 111, 111) !important;
	margin: -31% -27%; 
}
div#iconosShare { 
	text-align: center; 
	margin: 0 auto;
}
 

div#header {
	background: #E30747;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	position: relative;
}

.btn {
	width: 80px;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
	background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
	background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
	background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
	background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: "Avenir", Helvetica;
	color: #a6a6a6;
	font-size: 14px;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}

.btn:hover {
	background: #e6e6e6;
	background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
	background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
	background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
	background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
	background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
	text-decoration: none;
}

.btncontact {
	width: 85px;
	background: #97d92e;
	background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
	background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
	background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
	background-image: -o-linear-gradient(top, #97d92e, #90c53f);
	background-image: linear-gradient(to bottom, #97d92e, #90c53f);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family: "Avenir", Helvetica;
	color: #ffffff;
	font-size: 14px;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}

.btncontact:hover {
	background: #b0ff30;
	background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
	background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
	background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
	background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
	background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
	text-decoration: none;
}

.clr {
	clear: both;
	height: 4px !important;
	padding: 0 !important;
	margin: 0 !important;
}

div#header div.show-content {
	position: absolute;
	bottom: 7px;
	right: 10px;
	display: none;
}

div#compartir {
	/* padding: 10px 108px; */
	width: 490px;
	text-align: center;
	height: auto;
}

#compartirText {
	margin-bottom: 5px;
	font-size: 16px;
	font-family: "Avenir", Helvetica;
	color: rgb(128, 128, 128) !important;
	/* font-weight: bold; */
}

div.group-separator {
	display: none;
}

div.databox-ctr {
	overflow: hidden;
	padding: 6px 0px;
}

#offer-panel {
	margin: 5px 35px 5px;
	/* background: none repeat scroll 0% 0% rgb(227, 7, 71); */
	border-radius: 14px;
	padding: 8px;
	font-size: 14px;
	color: rgb(0, 0, 0);
	position: relative;
}

#offer-panel div.wrapper {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 10px 15px;
	overflow: hidden;
	border:solid 10px rgb(227, 7, 71);
}

#offer-panel div.wrapper div.image {
	float: left;
	width: auto;
	padding: 0px 15px 15px 0px;
}

.line {
	padding: 4px 10px 10px 50px;
	text-align: center;
}

dd.keywords {
	margin: 8px 0px 5px;
	line-height: 115%;
	color: rgb(111, 111, 111);
}

.division {
	width: 450px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(111, 111, 111) !important;
	margin: 0 auto;
}

.divisionContacto {
	width: 370px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(111, 111, 111) !important;
	margin: 2% 0;
}

.photoOffer {
	/* width: 100px; */
	/* float: left; */
	margin: 1px 10px 0px 15px;
	border: 3px solid rgb(255, 255, 255);
	-moz-border: 3px solid rgb(255, 255, 255);
	-webkit-border: 3px solid rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgb(136, 136, 136);
	overflow: hidden;
}
#d1{
   float: left;
   margin: 2%;
}
#d2{
   /* float:left; */
}
#CSSTableGenerator {
	width: 65%;
	text-align: center;
}

td.horarios {
	border-bottom: 1px;
	border-bottom: solid;
	border-bottom-color: #3D393A;
}

#linksCompartir {
	width: 90%;
	margin-left: 5%;
}

div#textoFooter {
	width: 90%;
	margin: 0 auto;
}

div#logo {
	margin: 0 auto;
	margin-top: -2%;
	margin-bottom: -1%;
}

			/* I P H O N E */ 
/*********************************************************************  @media screen and (max-width: 640px) and (min-width: 320px) iphone*/
@media screen and (max-width: 490px) and (min-width: 320px) {
	@font-face {
		font-family: "Avenir";
		src: url("../font/Avenir LT 45 Book.otf") format("truetype");
	}
	html, body {
		display: block;
		overflow-x: hidden;
		margin: 0;
	}
	.body {
		min-width: 320px;
		backgrond-color: #ece7e4;
		width: 100%;
	}
	.bg-image {
		left: 0px;
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: -10;
	}
	div.info {
		word-wrap: break-word; 
		font-family: Avenir;
		font-size: 18px;
		font-weight: normal;
		color:#ffffff;
		margin-left:1.5%;
	}  
	#photoDef {
		/* width:100%;  */
		margin: -33% -82px -40% -35%;
		border: 3px solid rgb(255, 255, 255);
		overflow: hidden;
	}
	#d1{
	   float: left;
	   margin: -10%;
	}
	div#ContenedorGeneral {
		width: 100%;
		margin: 0 auto;
		/*opacity: 0.85;  Opacidad de 50% */
		/*background:repeat #ffffff;*/
		margin-bottom: 1%;
	}
	#tablaContactos{
		width: 90%;
	}
	div#container {
		width: 100%;
		margin-top: 2%;
	}
	#contenedor {
		width: 100%;
		position: relative;
		background-color: #FFFFFF;
		margin-bottom: 1%;
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
		/*opacity: 0.85;  Opacidad de 50% */
	}
	#contenedorMapa {
		width: 100%;
		height: auto;
		position: relative;
		background-color: #ffffff;
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
		margin-bottom: 1%;
	}
	#map_canvas {
		height: 250px;
		width: 95%;
	}
	#iMapa {
		width: 95%;
		height: 300px;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-bottom: 3%;
		margin-top: 3%;
		border-width: 1px;
		border-style: solid;
	}
	#iVideo {
		width: 95%;
		height: 250px;
		margin-bottom: 1%;
		margin-left: 2%;
		border-width: 1px;
		border-style: solid;
	}
	#contenedor-share {
		width: 95%;
		position: relative;
		background-color: transparent;
		margin-bottom: 5%;
		/* margin-left: 2.5%; */
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
	}
	#contenedor-Contacto {
		width: 100%;
		overflow: hidden;
		text-align: center; 
		padding-bottom: 3%;
	}
	div#article { 
		margin: -47px;
	}
	.clr {
		clear: both;
		height: 3px !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	div#iconos {
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important; 
		margin: -42px; 
	}
	div#iconosShare {
		text-align: center;
		/* margin: -38% -37px -38% -30%; */
		margin: -25px -14px;
	}
	#title-domain {
		word-break: break-word;
		-moz-word-break: break-word;
		-o-word-break: break-word;
		font-size: 18px;
		letter-spacing: 0.02em;
		font-family: Avenir, Helvetica;
		color: #111111 !important;
	}


	/* div */
	#text_icono {
		font-size: 100%;
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(1, 1, 1) !important;
	}
	.media {
		width: 95%;
		height: 220%;
	}
	div.databox-map {
		width: 95%;
		height: 200px;
		background-color: rgb(243, 244, 243);
		margin-left: 2.5%;
	}
	.division {
		width: 95%;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(111, 111, 111) !important;
		margin: 0 auto;
	}
	.divisionContacto {
		width: 100%;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(111, 111, 111) !important;
		margin:2% 0;
	}
	div#mapa {
		width: 100%;
		margin: 0 auto;
		background: #ffffff;
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
	}
	div#contact {
		font-size: 15px;
		padding: 0px 15px;
		margin-bottom: 0px;
		color: rgb(60, 74, 151) !important;
		text-align: justify;
	}
	 #offer-panel {
		margin: 1% 5% 1%;
		/* background: none repeat scroll 0% 0% rgb(227, 7, 71); */
		border-radius: 14px;
		padding: 8px;
		color: rgb(0, 0, 0);
		position: relative;
	} 
	#offer-panel div.wrapper {
		background: #FFFFFF;
		border-radius: 10px;
		padding: 5% 1%;
		overflow: hidden;
		border:solid 7px rgb(227, 7, 71);
	}
	#contenedor-Offer {
		width: 100%;
		margin-left: 2.5%;
	}
	div#text_icono_contenedor {
		font-size: 16px;
		font-family: "Avenir", Helvetica;
		color: rgb(128, 128, 128) !important;
		letter-spacing: 0.02em;
		margin-left: -15%;
		width: 150%;
		/* font-weight: bold; */
	}
	#text_icono_Offer {
		font-size: 120%;
		font-family: "Avenir", Helvetica;
		color: rgb(1, 1, 1) !important;
		width: 95%;
		/* float: center;  */
		margin: 0 auto;
		word-wrap: break-word;
	}
	#boton-contenedor {
		float: right;
		margin-right: 15%;
		/* margin-left: 15%;  */
	}
	#photoOffer {
 		margin: -25% -20% -22%;
	}
 
	.text_desc {
		font-size: 15px;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		margin-bottom: 2px;
		word-wrap: break-word;
		letter-spacing: .02em;
	}
	.text_desc_terminos {
		/* font-size: 60%;  */
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
	}
	.btn {
		width: 85px;
		background: #ffffff;
		background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
		background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #a6a6a6;
		font-size: 100%;
		font-weight: none;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btn:hover {
		background: #e6e6e6;
		background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
		text-decoration: none;
	}
	.btncontact {
		width: 91px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
	}
	.btncontact:hover {
		background: #b0ff30;
		background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
		background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
		text-decoration: none;
	}
	.title_galery {
		background: #3D393A;
		width: 95%;
		height: 10%;
		margin-left: 2.5%;
	}
	.align_title_galery {
		font-size: 100%;
		font-family: "Avenir", Helvetica;
		color: rgb(255, 255, 255) !important;
		margin-left: 15px;
	}
	.align_title_video {
		font-size: 100%;
		font-family: "Avenir", Helvetica;
		color: rgb(0, 0, 0) !important;
		margin-left: 15px;
		text-align: left;
	}
	.imagen-galery {
		width: 98%;
		border: solid 3px #3D393A; 
		/* margin-left: 1%;
		margin-bottom: 1%; */
		/* border-left:groove 3px #3D393A; 
		border-bottom:groove 3px #3D393A; 
		border-right:groove 3px #3D393A;  */
	}
	#align_desc_cont {
		float: left;
		margin-right: 4%;
		font-family: "Avenir", Helvetica;
	}
	.align_desc_contacto {
		font-family: "Avenir", Helvetica;
		color: rgb(1, 1, 1) !important;
		font-size: 110%;
		margin-left: 20%;
	}
	.align_desc_cont_sub {
		font-size: 15px;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		word-wrap: break-word;
		letter-spacing: .02em;
	}
	#CSSTableGenerator {
		width: 78%;
		text-align: center;
	}
	td.horarios {
		border-bottom: 1px;
		border-bottom: solid;
		border-bottom-color: #3D393A;
	}
	 #contenedor-data {
		width: 75%;
		margin: 1% auto;
	}
	#contenedor-data-c {
		width: 65%;
		margin-left: 23%;
	}
	#datoContacto {
		width: 65%;
	}
	#contenedor-data-boton {
		/* margin-left: 65%; */
		float: right;
	}
	#contenedor-contacto-boton {
		float: right;
		font-size: 14px;
		color: white;
		font-family: Avenir;
		text-align: center;
		line-height: 30px;
	}
	#tilte-contact {
		font-size: 16px;
		font-family: "Avenir", Helvetica;
		color: #111111;
		letter-spacing: 0.02em;
	}
	#desc-contact {
		font-size: 80%;
		/* font-weight: none; */
		font-family: "Avenir", Helvetica;
		color: rgb(1, 1, 1) !important;
		word-wrap: break-word;
		text-align: left;
	}
	table#compartir {
		margin-left: 1px;
	}
	.table-share {
		width: 33%;
		align: center;
	}
	div#compartir {
		margin: 0 auto;
		text-align: center;
		width: 95%;
		height: auto;
	}
	div#icon-share {
		/* font-family: "Avenir", Helvetica;
		text-align: center; */
		/* margin-left: 10%; */
		margin: 0 auto;
	}
	div#footer {
		width: 98%;
		height: 10%;
		font-size: 80%;
		font-family: "Avenir", Helvetica;
		background: #000000;
		color: rgb(255, 255, 255) !important; 
		text-align: center;
		border: solid gray;
	}
	td.horarios {
		border-bottom: 1px;
		border-bottom: solid;
		border-bottom-color: #3D393A;
	}
	.btn {
		width: 85px;
		background: #ffffff;
		background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
		background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #a6a6a6;
		font-size: 100%;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btn:hover {
		background: #e6e6e6;
		background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
		text-decoration: none;
	}
	.btncontact {
		width: 91px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btncontact:hover {
		background: #b0ff30;
		background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
		background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
		text-decoration: none;
	}
	#iconVideo {
		width: 57px;
	}
	#imgModulo {
		width: 55px;
	}
	#linksCompartir {
		width: 90%;
		margin-left: 3%;
	}
	.btnOpera {
		width: 68px;
		height: 17px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 6px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
		-moz-box-shadow: 3px 3px 2px #7d7d7d;
		-webkit-box-shadow: 3px 3px 2px #7d7d7d;
		box-shadow: 2px 2px 2px #7d7d7d;
		font-size: 15px;
		text-align: center;
	}
	div#textoFooter {
		width: 90%;
		margin: 0 auto;
	}
	div#logo {
		margin: 0 auto;
		margin-top: -6%;
		margin-bottom: -1%;
	}
}
															/* A N D R O I D */
/***************************************************************************** Dimenciones de carga para pantallas mayores a   Androids*/
@media screen and (max-width: 600px) and (min-width: 360px) {
	@font-face {
		font-family: "Avenir";
		src: url("../font/Avenir LT 45 Book.otf") format("truetype");
	}
	html, body {
		display: block;
		overflow-x: hidden;
		margin: 0;
	}
	.body {
		min-width: 320px;
		backgrond-color: #ece7e4;
		width: 100%;
	}
	.bg-image {
		left: 0px;
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: -10;
	}
	/*  div.info {
		word-wrap: break-word;
	}  */
	/* #photo {
		width: 45px;
		float: left;
		margin: 10% 10%;
		border: 3px solid rgb(255, 255, 255);
		box-shadow: 1px 1px 3px rgb(136, 136, 136); 
		overflow: hidden;
	} */
	#photoDef {
		/* width:100%;  */
		margin: -33% -82px -40% -35%;
		border: 3px solid rgb(255, 255, 255);
		overflow: hidden;
	}
	#d1{
   float: left;
   margin: -18%;
}
	div#ContenedorGeneral {
		width: 100%;
		margin: 0 auto;
		/*opacity: 0.85;  Opacidad de 50% */
		/*background:repeat #ffffff;*/
		margin-bottom: 1%;
	}
	div#container {
		width: 100%;
		margin-top: 2%;
	}
	#contenedor {
		width: 100%;
		position: relative;
		background-color: #FFFFFF;
		margin-bottom: 1%;
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
		/*opacity: 0.85;  Opacidad de 50% */
	}
	#contenedorMapa {
		width: 95%;
		height: auto;
		position: relative;
		background-color: #ffffff;
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
		margin-bottom: 1%;
	}
	#map_canvas {
		height: 250px;
		width: 95%;
	}
	#iMapa {
		width: 95%;
		height: 300px;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-bottom: 3%;
		margin-top: 3%;
		border-width: 1px;
		border-style: solid;
	}
	#iVideo {
		width: 95%;
		height: 250px;
		margin-bottom: 1%;
		margin-left: 2%;
		border-width: 1px;
		border-style: solid;
	}
	#contenedor-share {
		width: 95%;
		position: relative;
		background-color: transparent;
		margin-bottom: 5%;
		/* margin-left: 2.5%; */
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
	}
	#contenedor-Contacto {
		width: 95%;
		overflow: hidden;
		text-align: center;
		padding-bottom: 3%;
	}
	div#article {
		/*  margin-bottom: -27%;
		margin-top: -27%;
		margin-left: -10%;
		margin-right: -40px; */
		margin: -47px -32px;
	}
	.clr {
		clear: both;
		height: 3px !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	/* div#iconos {
		text-align: center;
		color: rgb(111, 111, 111) !important;
		margin: -37% -37px -38% -33%; 
	} */
	div#iconosShare {
		text-align: center;
		color: rgb(111, 111, 111) !important;
		margin: -38% -37px -38% -12%;
	}
	#title-domain {
		word-break: break-word;
		-moz-word-break: break-word;
		-o-word-break: break-word;
		font-size: 140% ! important;
		font-family: "Avenir", Helvetica;
		color: #111111 !important;
	}
	
	/* div */
	#text_icono {
		font-size: 16px;
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(1, 1, 1) !important;
	}
	.media {
		width: 95%;
		height: 220%;
	}
	div.databox-map {
		width: 95%;
		height: 200px;
		background-color: rgb(243, 244, 243);
		margin-left: 2.5%;
	}
	.division {
		width: 95%;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(111, 111, 111) !important;
		margin: 0 auto;
	}
	.divisionContacto {
		width: 100%;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(111, 111, 111) !important;
		margin: 2% 0;
	}
	div#mapa {
		width: 100%;
		margin: 0 auto;
		background: #ffffff;
		-webkit-border-radius: 7;
		-moz-border-radius: 7;
		border-radius: 7px;
	}
	div#contact {
		font-size: 15px;
		padding: 0px 15px;
		margin-bottom: 0px;
		color: rgb(60, 74, 151) !important;
		text-align: justify;
	}
	#offer-panel {
		margin: 1% 5% 1%;
		/* background: none repeat scroll 0% 0% rgb(227, 7, 71); */
		border-radius: 14px;
		padding: 8px;
		color: rgb(0, 0, 0);
		position: relative;
	} 
	#offer-panel div.wrapper {
		background: #FFFFFF;
		border-radius: 10px;
		padding: 5% 1%;
		overflow: hidden;
		border:solid 7px rgb(227, 7, 71);
	}
	#contenedor-Offer {
		width: 100%;
		margin-left: 2.5%;
	}
	div#text_icono_contenedor {
		width: 140%;
		font-size: 16px;
		font-family: "Avenir", Helvetica;
		color: rgb(128, 128, 128) !important;
		letter-spacing: 0.02em;
		margin-left: -25%; 
		/* font-weight: bold; */
	}
	#text_icono_Offer {
		font-size: 120%;
		font-family: "Avenir", Helvetica;
		color: rgb(1, 1, 1) !important;
		width: 95%;
		/* float: center;  */
		margin: 0 auto;
		word-wrap: break-word;
	}
	#boton-contenedor {
		float: right;
		margin-right: 15%;
		/* margin-left: 15%;  */
	}
	#photoOffer {
	/* float: left;  */
		border: 3px solid rgb(255, 255, 255);
		-moz-border: 3px solid rgb(255, 255, 255);
		-webkit-border: 3px solid rgb(255, 255, 255);
		box-shadow: 1px 1px 3px rgb(136, 136, 136);
		-moz-box-shadow: 1px 1px 3px rgb(136, 136, 136);
		-webkit-box-shadow: 1px 1px 3px rgb(136, 136, 136);  
}
	.text_desc {
		font-size: 15px;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		margin-bottom: 2px;
		letter-spacing: .02em;
		word-wrap: break-word;
	}
	.text_desc_terminos {
		/* font-size: 60%;  */
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		letter-spacing: .02em;
	}
	.btn {
		width: 85px;
		background: #ffffff;
		background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
		background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #a6a6a6;
		font-size: 100%;
		font-weight: none;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btn:hover {
		background: #e6e6e6;
		background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
		text-decoration: none;
	}
	.btncontact {
		width: 91px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
	}
	.btncontact:hover {
		background: #b0ff30;
		background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
		background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
		text-decoration: none;
	}
	.title_galery {
		background: #3D393A;
		width: 95%;
		height: 10%;
		margin-left: 2.5%;
	}
	.align_title_galery {
		font-size: 100%;
		font-family: "Avenir", Helvetica;
		color: rgb(255, 255, 255) !important;
		margin-left: 15px;
	}
	.align_title_video {
		font-size: 100%;
		font-family: "Avenir", Helvetica;
		color: rgb(0, 0, 0) !important;
		margin-left: 15px;
		text-align: left;
	}
	.imagen-galery {
		width: 98%;
		border: solid 3px #3D393A; 
		/* margin-left: 1%;
		margin-bottom: 1%; */
		/* border-left:groove 3px #3D393A; 
		border-bottom:groove 3px #3D393A; 
		border-right:groove 3px #3D393A;  */
	}
	#align_desc_cont {
		float: left;
		margin-right: 2%;
		font-family: "Avenir", Helvetica;
	}
	.align_desc_contacto {
		font-family: "Avenir", Helvetica;
		color: rgb(1, 1, 1) !important;
		font-size: 110%;
		margin-left: 20%;
	}
	.align_desc_cont_sub {
		font-size: 15px;
		font-family: "Avenir", Helvetica;
		color: rgb(60, 74, 151) !important;
		word-wrap: break-word;
		letter-spacing: .02em;
	}
	#CSSTableGenerator {
		width: 78%;
		text-align: center;
	}
	td.horarios {
		border-bottom: 1px;
		border-bottom: solid;
		border-bottom-color: #3D393A;
	}
	 #contenedor-data {
		width: 75%; 
		margin: 1% auto;
	} 
	#contenedor-data-c {
		width: 65%;
		margin-left: 23%;
	}
	#datoContacto {
		width: 65%;
	}
	#contenedor-data-boton {
		/* margin-left: 65%; */
		float: right;
	}
	#contenedor-contacto-boton {
		float: right;
		font-size: 14px;
		color: white;
		font-family: Avenir;
		text-align: center;
		line-height: 30px;
	}
	#tilte-contact {
		font-size: 16px;
		font-family: "Avenir", Helvetica;
		color: #111111;
		letter-spacing: 0.02em;
	}
	#desc-contact {
		font-size: 80%;
		/* font-weight: none; */
		font-family: "Avenir", Helvetica;
		color: rgb(1, 1, 1) !important;
		word-wrap: break-word;
		text-align: left;
	}
	table#compartir {
		margin-left: 1px;
	}
	.table-share {
		width: 33%;
		align: center;
	}
	div#compartir {
		margin: 0 auto;
		text-align: center;
		width: 95%;
		height: auto;
	}
	div#footer {
		width: 98%;
		height: 10%;
		font-size: 100%;
		font-family: "Avenir", Helvetica;
		background: #000000;
		color: rgb(255, 255, 255) !important; 
		text-align: center;
		border: solid gray;
	}
	td.horarios {
		border-bottom: 1px;
		border-bottom: solid;
		border-bottom-color: #3D393A;
	}
	.btn {
		width: 85px;
		background: #ffffff;
		background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
		background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
		background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #a6a6a6;
		font-size: 100%;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btn:hover {
		background: #e6e6e6;
		background-image: -webkit-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -moz-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -ms-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: -o-linear-gradient(top, #e6e6e6, #dbdbdb);
		background-image: linear-gradient(to bottom, #e6e6e6, #dbdbdb);
		text-decoration: none;
	}
	.btncontact {
		width: 91px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 3px 10px 3px 10px;
		text-decoration: none;
	}
	.btncontact:hover {
		background: #b0ff30;
		background-image: -webkit-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -moz-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -ms-linear-gradient(top, #b0ff30, #90c53f);
		background-image: -o-linear-gradient(top, #b0ff30, #90c53f);
		background-image: linear-gradient(to bottom, #b0ff30, #90c53f);
		text-decoration: none;
	}
	#iconVideo {
		width: 57px;
	}
	#imgModulo {
		width: 55px;
	}
	#linksCompartir {
		width: 90%;
		margin-left: 3%;
	}
	.btnOpera {
		width: 68px;
		height: 17px;
		background: #97d92e;
		background-image: -webkit-linear-gradient(top, #97d92e, #90c53f);
		background-image: -moz-linear-gradient(top, #97d92e, #90c53f);
		background-image: -ms-linear-gradient(top, #97d92e, #90c53f);
		background-image: -o-linear-gradient(top, #97d92e, #90c53f);
		background-image: linear-gradient(to bottom, #97d92e, #90c53f);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 6px;
		font-family: "Avenir", Helvetica;
		color: #ffffff;
		font-size: 100%;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
		-moz-box-shadow: 3px 3px 2px #7d7d7d;
		-webkit-box-shadow: 3px 3px 2px #7d7d7d;
		box-shadow: 2px 2px 2px #7d7d7d;
		font-size: 15px;
		text-align: center;
	}
	div#logo {
		margin: 0 auto;
		margin-top: -6%;
		margin-bottom: -1%;
	}
	div#textoFooter {
		width: 90%;
		margin: 0 auto;
	}
}
/*android anchos  */
@media screen and (max-width: 640px) and (min-width: 639px) {
	div#iconos {
		font-size: 12px;
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;
		margin: -30% -20%;
	}
	div#text_icono_contenedor{
		margin-left: -20%;
	}
 }

	/* Nexus 5 */
@media screen and (max-width: 360px) and (min-width: 359px) {
	div#article { 
	margin: -47px -36px;
	}
	 
 }
 
 
 /* iphone */
@media screen and (max-width: 320px) and (min-width: 319px) {
	div#article { 
	margin: -47px -44px;
	}
	 
 }
 
 
@media screen and (max-width: 600px) and (min-width: 500px) {
	div#article { 
		margin: -47px 0;
	}
	.clr {
		clear: both;
		height: 3px !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	 
	#photoDef {
	/* width: 100%; */
	margin: -15% 0px -30% -10%;
	border: 3px solid rgb(255, 255, 255);
	overflow: hidden;
	}
	/* div#iconos {
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;
		margin: -20% -0% -20% -10%;
	} */
	div#iconosShare {
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;
		margin: -25% -0% -20% 10%;
	}
	div#logo {
		margin: 0 auto;
		margin-top: -3%;
		margin-bottom: -1%;
	}
	div#textoFooter {
		width: 90%;
		margin: 0 auto;
	}
}

/* iphone 4 Horizontal */
@media screen and (max-width: 481px) and (min-width: 478px) {
	div#article { 
		margin: -47px -15px;;
	}
	.clr {
		clear: both;
		height: 3px !important;
		padding: 0 !important;
		margin: 0 !important;
	}

	#photoDef {
	/* width: 100%; */
	margin: -15% 0px -30% -10%;
	border: 3px solid rgb(255, 255, 255);
	overflow: hidden;
	}
	/* div#iconos {
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;
		margin: -20% -0% -20% -10%;
	} */
	div#iconosShare {
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;
		/* margin: -25% -0% -20% -29%; */
		margin: -25% -0% -20% -15%;
	}
	div#logo {
		margin: 0 auto;
		margin-top: -3%;
		margin-bottom: -1%;
	}
	div#textoFooter {
		width: 90%;
		margin: 0 auto;
	}
}

/* Android pantallas grandes  Horizontal */
@media screen and (max-width: 641px) and (min-width: 639px) {
	div#article { 
		margin: -25% -96px -30% -8%;
	}
	.clr {
		clear: both;
		height: 3px !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	/* #photo { 
		float: left;
		margin: 10% 10%;
		border: 3px solid rgb(255, 255, 255);
		box-shadow: 1px 1px 3px rgb(136, 136, 136);
		overflow: hidden;
		 max-width: 80px;
	} */
	#photoDef {
	/* width: 100%; */
	margin: -15% 0px -30% -10%;
	border: 3px solid rgb(255, 255, 255);
	overflow: hidden;
	}
	/* div#iconos {
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;
		margin: -25% -0% -20% -10%;
	} */
	div#iconosShare {
		font-family: "Avenir", Helvetica;
		text-align: center;
		color: rgb(111, 111, 111) !important;
		margin: -25% -0% -15% 8%;
	}
	div#logo {
		margin: 0 auto;
		margin-top: -3%;
		margin-bottom: -1%;
	}
	div#textoFooter {
		width: 90%;
		margin: 0 auto;
	}
}